* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Segoe UI", sans-serif;
}
/* ================= GLOBAL FONT SIZE ================= */

html {
  font-size: 16px; /* default is usually 14px */
}

body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 15px;
  line-height: 1.6;
}
